{% extends "base.html" %}
{% block content %}
    <h1>{{word}} болезни</h1>
     <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
         <p>
             {{ form.name.label }}<br>
             {{ form.name }}<br>
             {% for error in form.name.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
         </p>
         <p>
             {{ form.st.label }}<br>
             {{ form.st }}<br>
             {% for error in form.st.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
         </p>
         <p>
         {{ form.descrip.label }}<br>
             {{ form.descrip }}<br>
         {% for error in form.descrip.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
         {% endfor %}
     </p>
         <p>
         {{ form.diag.label }}<br>
             {{ form.diag }}<br>
         {% for error in form.diag.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
         {% endfor %}
     </p>
         <p>
         {{ form.meds.label }}<br>
             {{ form.meds }}<br>
         {% for error in form.meds.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
         {% endfor %}
     </p>
         <p>
         {{ form.proc.label }}<br>
             {{ form.proc }}<br>
         {% for error in form.proc.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
         {% endfor %}
     </p>
         <p>
         {{ form.causes.label }}<br>
             {{ form.causes }}<br>
         {% for error in form.causes.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
         {% endfor %}
     </p>
         <p>
         {{ form.prof.label }}<br>
             {{ form.prof }}<br>
         {% for error in form.prof.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
         {% endfor %}
     </p>
         <p>{{ form.submit() }}</p>
     </form>
{% endblock %}