{% extends "base.html" %}
{% block content %}
    <h1>Личный кабинет</h1><br>
    <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
        <p style="text-indent: 400px">
            <a class="btn btn-link btn-lg" href="/redact" role="button">Редактировать</a>
         </p>
        <p>
             {{ form.id.label }}<br>
             {{ form.id }}<br>
             {% for error in form.id.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
         </p>
        <p>
             {{ form.fio.label }}<br>
             {{ form.fio }}<br>
             {% for error in form.fio.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
         </p>
        <p>
             {{ form.tel.label }}<br>
             {{ form.tel }}<br>
             {% for error in form.tel.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
         </p>
        <p>
             {{ form.mail.label }}<br>
             {{ form.mail }}<br>
             {% for error in form.mail.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
         </p>
        <p>
             {{ form.field.label }}<br>
             {{ form.field }}<br>
             {% for error in form.field.errors %}
                 <div class="alert alert-danger" role="alert">
                 {{ error }}
                 </div>
             {% endfor %}
        <p style="text-indent: 400px">
         </p>
            <a class="btn btn-link btn-lg" href="/logout" role="button">Выйти</a>
         </p>
    </form>
{% endblock %}